<!DOCTYPE html>
<html>
<head>
    <title>Organic Market</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="shortcut icon" href="http://smartacademy.kz/favicon.ico" type="image/x-icon">-->
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.0/aos.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <link rel='stylesheet' href='/stylesheets/number.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div class="desktop-version d-none d-md-block">
    <div class="header d-flex flex-column align-items-center w-100 pt-3">
        <div class="top-header d-flex justify-content-between align-items-center w-100">
            <div class="time-contacts d-flex align-items-center">
                <img src="images/header-calendar.png" alt="">
                <p class="ml-2 mb-0">Пн. - Пт.,с 11:00 до 19:00</p>
                <img class="ml-5" src="images/header-wp.png" alt="">
                <img class="mx-2" src="images/header-phone.png" alt="">
                <a class="phone-number" href="tel:+77072220524">+7(707) 222 - 0524</a>
                <a class="recall-button ml-3" href="">Перезвоните мне</a>
            </div>
            <div class="account-sign d-flex align-items-center">
                <img src="images/header-enter.png" alt="">
                <a class="ml-2 mr-4" href="">Вход</a>
                <a href="">Регистрация</a>
            </div>
        </div>
        <div class="middle-header d-flex align-items-center justify-content-end mt-5 pr-3 w-100">
            <ul class="d-flex">
                <li class="mr-4"><a href="">Доставка и оплата</a></li>
                <li class="mr-4"><a href="">Партнёрам</a></li>
                <li class="mr-4"><a href="">О магазине</a></li>
                <li class="mr-4"><a href="">Контакты</a></li>
                <li class="mr-4"><a href="">Бренды</a></li>
            </ul>
            <form class="mx-5 find-input d-flex justify-content-between align-items-center px-3">
                <input class="pr-2" type="text" placeholder="Поиск">
                <button><img src="images/header-find.png" alt=""></button>
            </form>
            <div class="icon-with-number">
                <img class="p-1" src="images/header-hurt.png" alt="">
                <span class="text-center d-flex justify-content-center align-items-center">0</span>
            </div>
            <div class="icon-with-number">
                <img src="images/header-libra.png" alt="">
                <span class="d-flex justify-content-center align-items-center">0</span>
            </div>
            <div class="icon-with-number">
                <img src="images/header-yellow-sth.png" alt="">
                <span class="d-flex justify-content-center align-items-center">0</span>
            </div>
        </div>
        <div class="bottom-header d-flex align-items-center justify-content-center mt-5 w-100 flex-wrap row">
            <a class="text-white text-uppercase shares mr-3" href="">акции</a>
            <div class="dropdown show header-dropdown">
                <a class="btn btn-secondary dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    лицо
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Крем butter</a>
                    <a class="dropdown-item" href="#">Крем lorem</a>
                    <a class="dropdown-item" href="#">Гель lorem</a>
                </div>
            </div>
            <div class="dropdown show header-dropdown">
                <a class="btn btn-secondary dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink2"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    тело
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                    <a class="dropdown-item" href="#">Крем butter</a>
                    <a class="dropdown-item" href="#">Крем lorem</a>
                    <a class="dropdown-item" href="#">Гель lorem</a>
                </div>
            </div>
            <div class="dropdown show header-dropdown">
                <a class="btn btn-secondary dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink3"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    волосы
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink3">
                    <a class="dropdown-item" href="#">Крем butter</a>
                    <a class="dropdown-item" href="#">Крем lorem</a>
                    <a class="dropdown-item" href="#">Гель lorem</a>
                </div>
            </div>
            <div class="dropdown show header-dropdown">
                <a class="btn btn-secondary dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink4"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    масла
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
                    <a class="dropdown-item" href="#">Крем butter</a>
                    <a class="dropdown-item" href="#">Крем lorem</a>
                    <a class="dropdown-item" href="#">Гель lorem</a>
                </div>
            </div>
            <div class="dropdown show header-dropdown">
                <a class="btn btn-secondary dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink5"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    для детей
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink5">
                    <a class="dropdown-item" href="#">Крем butter</a>
                    <a class="dropdown-item" href="#">Крем lorem</a>
                    <a class="dropdown-item" href="#">Гель lorem</a>
                </div>
            </div>
            <div class="dropdown show header-dropdown">
                <a class="btn btn-secondary dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink6"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    питание
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink6">
                    <a class="dropdown-item" href="#">Крем butter</a>
                    <a class="dropdown-item" href="#">Крем lorem</a>
                    <a class="dropdown-item" href="#">Гель lorem</a>
                </div>
            </div>
            <div class="dropdown show header-dropdown">
                <a class="text-uppercase" href="#">
                    другое
                </a>
            </div>
        </div>
        <img class="organic-img" src="images/header-organic.png" alt="">
    </div>
    <div class="route-path d-flex w-100 mt-5 align-items-center">
        <a href="">Главная <span>/</span></a>
        <a href="">Каталог <span>/</span></a>
        <a href="">Масла <span>/</span></a>
    </div>
    <div class="main-section d-flex flex-column mt-5">
        <h3>Крем-баттер для тела охлаждающий SOS <img src="images/main-section-new-badge.png" alt=""></h3>
        <div class="d-flex w-100">
            <div class="left-side d-flex flex-column align-items-center">
                <img src="images/left-side-temp.png" alt="">
                <div class="share-with d-flex align-items-center mt-4">
                    <p class="mb-0">Поделиться:</p>
                    <img src="images/subscribe1.png" alt="">
                    <img src="images/subscribe2.png" alt="">
                    <img src="images/subscribe3.png" alt="">
                    <img src="images/subscribe4.png" alt="">
                    <img src="images/subscribe5.png" alt="">
                </div>
            </div>
            <div class="right-side d-flex flex-column justify-content-center">
                <div class="brand d-flex align-items-center">
                    <p class="mb-0 mr-3">Бренд:</p>
                    <h6 class="mb-0">Delizioso</h6>
                    <img class="mx-4" src="images/right-side-logo.png" alt="">
                    <p class="mb-0 mr-3">Канада</p>
                    <img class="county-pic" src="images/right-side-country.png" alt="">
                </div>
                <div class="star-ratings-css my-3">
                    <div class="star-ratings-css-top" style="width: 84%">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-css-bottom">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                </div>
                <div class="price d-flex align-items-center">
                    <p class="mb-0 mr-2">1 700 тнг</p>
                    <h6 class="mb-0"><span>1 900 тнг </span> / 500 мл.</h6>
                </div>
                <form class="d-flex flex-column mb-5" action="">
                    <div class="quantity d-flex align-items-center my-3">
                        <input id="input-number" type="number" value="1" step="1" min="1" max="99999" required>
                        <img class="ml-3 mr-2" src="images/right-side-quantity.png" alt="">
                        <p class="mb-0 font-italic">В наличии</p>
                    </div>
                    <div class="buy-this d-flex align-items-center">
                        <button>В КОРЗИНУ</button>
                        <button class="one-click d-flex align-items-center ml-4"><img class="mr-2"
                                                                                      src="images/right-side-click.png"
                                                                                      alt=""> Заказ в 1 клик
                        </button>
                        <img class="mx-4" src="images/right-side-icon1.png" alt="">
                        <img src="images/right-side-icon2.png" alt="">
                    </div>
                </form>
                <div class="expand-divs d-flex mb-3">
                    <p class="expand-source1 mb-0 active">Преимущества</p>
                    <p class="expand-source2 mb-0 mx-5">Оплата</p>
                    <p class="expand-source3 mb-0">Доставка</p>
                </div>
                <div class="expand-1 p-4">
                    <div class="d-flex w-100 h-50 mb-5">
                        <div class="item d-flex w-50">
                            <img src="images/expand1.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Оперативно</h5>
                                <p>Товар на складе,доставим за минимальный срок </p>
                            </div>
                        </div>
                        <div class="item d-flex w-50">
                            <img src="images/expand2.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Богатый ассортимент</h5>
                                <p>Поступления каждую неделю,у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex w-100 h-50">
                        <div class="item d-flex w-50">
                            <img src="images/expand3.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Приятный сюрприз</h5>
                                <p>Положим подарочек в каждый заказ</p>
                            </div>
                        </div>
                        <div class="item d-flex w-50">
                            <img src="images/expand4.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Вкусная цена</h5>
                                <p>Поступления каждую неделю, у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="expand-2 p-4">
                    <div class="d-flex w-100 h-50 mb-5">
                        <div class="item d-flex w-50">
                            <img src="images/expand2.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Богатый ассортимент</h5>
                                <p>Поступления каждую неделю,у нас самая свежая продукция</p>
                            </div>
                        </div>
                        <div class="item d-flex w-50">
                            <img src="images/expand1.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Оперативно</h5>
                                <p>Товар на складе,доставим за минимальный срок </p>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex w-100 h-50">

                        <div class="item d-flex w-50">
                            <img src="images/expand4.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Вкусная цена</h5>
                                <p>Поступления каждую неделю, у нас самая свежая продукция</p>
                            </div>
                        </div>
                        <div class="item d-flex w-50">
                            <img src="images/expand3.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Приятный сюрприз</h5>
                                <p>Положим подарочек в каждый заказ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="expand-3 p-4">
                    <div class="d-flex w-100 h-50 mb-5">
                        <div class="item d-flex w-50">
                            <img src="images/expand3.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Приятный сюрприз</h5>
                                <p>Положим подарочек в каждый заказ</p>
                            </div>
                        </div>
                        <div class="item d-flex w-50">
                            <img src="images/expand4.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Вкусная цена</h5>
                                <p>Поступления каждую неделю, у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex w-100 h-50">
                        <div class="item d-flex w-50">
                            <img src="images/expand1.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Оперативно</h5>
                                <p>Товар на складе,доставим за минимальный срок </p>
                            </div>
                        </div>
                        <div class="item d-flex w-50">
                            <img src="images/expand2.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Богатый ассортимент</h5>
                                <p>Поступления каждую неделю,у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="about-item-side-info d-flex mt-5">
        <div class="about-item d-flex flex-column">
            <h3>Описание товара:</h3>
            <div class="comment more mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aspernatur aut blanditiis
                corporis, cum cumque cupiditate debitis doloremque eos error eveniet ex explicabo fugit ipsam laboriosam
                magnam minima necessitatibus officia quasi quia quibusdam quos repudiandae rerum vero voluptatibus. Deleniti
                dicta, dignissimos distinctio doloremque doloribus esse et ipsum laborum magni neque officiis ratione
                reiciendis sapiente similique unde. Expedita facere nemo omnis quasi sequi. Ab animi aut, commodi
                consectetur consequuntur debitis dicta dolorem eaque enim exercitationem facere facilis illo impedit
                incidunt ipsa laborum natus odit quam quis quisquam reiciendis rem repellat repudiandae, rerum sequi? A ab
                adipisci amet asperiores at beatae consequuntur doloremque eaque esse eum fugit, inventore ipsum iure modi
                non nulla odit officia omnis perspiciatis quaerat quas quod quos rem, saepe similique sunt tempora totam ut
                vel voluptatibus. A ab adipisci aliquid amet aut, dolorem, esse eum excepturi expedita in incidunt nam natus
                necessitatibus neque nesciunt nobis, placeat quidem repellendus reprehenderit suscipit ullam ut vero
                voluptatem. Accusamus adipisci alias amet architecto asperiores atque aut beatae consequuntur cupiditate
                dicta distinctio dolor eius est et illo labore libero maxime non, pariatur perspiciatis porro quae quasi
                quibusdam quod ratione, reiciendis rerum sapiente tempore, voluptate voluptatibus! Cumque eos possimus
                ratione. Dolor, ea.
            </div>
            <div class="expand-divs-2 d-flex">
                <p id="" class="expand-source4 mb-0 active">Состав</p>
                <p id="" class="expand-source5 mb-0 ml-5">Способ использования</p>
            </div>
            <div class="expand-4 px-4 py-5">
                Равным образом сложившаяся структура организации требуют определения и дальнейших направлений развития.
                Равным образом новая модель организационной деятельности в значительной степени обуславливает создание
                системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура
                организации требуют определения и дальнейших направлений развития. Равным образом новая модель
                организационной деятельности в значительной степени обуславливает создание системы обучения кадров,
                соответствует насущным потребностям.
            </div>
            <div class="expand-5 px-4 py-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore eaque est repellendus sed tempora
                tempore vel? Accusamus adipisci assumenda consequuntur cumque doloribus eaque eius esse id ipsam labore
                maiores modi obcaecati officiis porro quasi repellendus repudiandae, saepe sunt veniam voluptatibus! A,
                asperiores consequatur esse ex iste magnam maxime nostrum odio quia ullam veniam veritatis. Alias assumenda
                at atque commodi, consequuntur culpa cum cumque cupiditate dolorem doloremque doloribus exercitationem harum
                impedit ipsum itaque iusto laborum maxime odit praesentium quibusdam quisquam ratione sint tempore velit
                vero? Distinctio ea molestiae voluptates. Adipisci alias illum labore porro. Aliquam, aperiam assumenda
                beatae consequuntur corporis deleniti dolores eum, eveniet excepturi incidunt iste itaque magni maxime modi
                molestiae necessitatibus nemo odio, pariatur quidem quod recusandae repellendus reprehenderit similique!
                Accusantium amet, aspernatur cupiditate distinctio, dolores doloribus dolorum eius eligendi esse explicabo
                in, ipsum maiores officiis pariatur praesentium quaerat quas quia quibusdam quisquam rem reprehenderit sint
                sunt unde ut veritatis vitae voluptates? Distinctio eveniet ex illum necessitatibus, odio praesentium
                tempore ut? Aut consequuntur ducimus error facere molestias odit perspiciatis qui quis recusandae veniam!
                Aperiam doloribus fuga magni minima natus, quo sequi? Asperiores dolorum illum labore minus nostrum odit? Ad
                aspernatur aut, blanditiis cum delectus deleniti distinctio expedita facere hic itaque modi nostrum
                obcaecati quas quis quo sed soluta suscipit unde vel voluptate. Dicta fuga in libero magni modi, rem
                repellat sunt suscipit? Cumque dignissimos explicabo in laudantium perspiciatis quisquam quo voluptate!
                Dolore eligendi error exercitationem inventore itaque qui vero? Atque aut, commodi consequatur cumque
                deleniti earum eius ex explicabo, facilis fugiat illo, odio quaerat ratione reiciendis repellendus
                repudiandae saepe sit tenetur totam velit! Accusantium at autem doloribus est, harum nam nihil odio
                perferendis quaerat qui quo recusandae sapiente voluptatem? A accusamus aliquid blanditiis consequuntur
                debitis dignissimos earum et, facere, fugiat harum ipsam ipsum iure iusto labore magni molestias mollitia
                officia officiis possimus quae recusandae reiciendis repellendus sapiente sequi sit soluta tempora ullam
                veritatis voluptate voluptates! Aliquam cum ex libero placeat quae repellendus sint voluptate! Aut,
                consequuntur enim impedit iure laudantium nisi omnis quaerat quibusdam rerum. Inventore, odio, tenetur! Ab
                fuga nisi sed voluptatem voluptates. Atque blanditiis dignissimos dolorem dolorum eius, expedita illum
                incidunt iusto laboriosam, magnam minima molestiae mollitia, numquam quos sed soluta temporibus ut voluptas
                voluptate voluptatibus. Alias aliquam, assumenda, atque consequatur cum debitis deserunt dolore ducimus
                eaque enim eos excepturi harum id in iste iusto laudantium libero magni minima minus necessitatibus nemo
                nisi nostrum omnis perferendis porro praesentium provident quasi quis quos reiciendis sint temporibus
                tenetur totam ut vel voluptas? Ad cupiditate deleniti dolorum eos excepturi fugit ipsam nam nisi possimus,
                quaerat, quos reprehenderit totam vitae. Adipisci culpa debitis hic incidunt iusto laborum nihil vero.
                Aliquam aliquid amet architecto asperiores autem earum eius eveniet, illum iusto maiores, nemo officia quis
                quisquam sapiente unde vel voluptas voluptatem? A aliquid amet animi atque dolorum eius, ipsam molestias
                natus nemo nobis numquam optio, quae quo quos soluta temporibus vero. Accusamus cupiditate delectus hic in
                magnam obcaecati omnis. Adipisci commodi dicta enim impedit magnam molestiae perspiciatis quam sint soluta
                temporibus.
            </div>
            <div class="feedback-button d-flex align-items-center justify-content-center p-5 mt-5">
                <button><img src="images/double-quotes.png" alt="">Добавить отзыв</button>
            </div>
        </div>
        <div class="side-info d-flex flex-column">
            <h3 class="mb-3">Товары, схожие по результату действия:</h3>
            <div class="side-item d-flex mb-3">
                <img src="images/side-1.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-item d-flex mb-3">
                <img src="images/side-2.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-item d-flex mb-3">
                <img src="images/side-3.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-item d-flex mb-3">
                <img src="images/side-4.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-badge d-flex flex-column align-items-center">
                <h4 class="text-center">Хотите быть в курсе всех новостей?</h4>
                <p class="text-center">Подпишитесь на рассылку!</p>
                <form class="d-flex flex-column align-items-center" action="">
                    <div class="input-pic d-flex align-items-center">
                        <input placeholder="Введите Электронную почту" type="text" required>
                        <img src="images/mail-to.png" alt="">
                    </div>
                    <button>ПОДПИСАТЬСЯ</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer d-flex mt-5 pt-5">
        <div class="first-column d-flex flex-column">
            <img src="images/header-organic.png" alt="">
            <p>Натуральная продукция ручной работы
                по самым выгодным ценам в Казахстане</p>
        </div>
        <div class="second-column d-flex flex-column">
            <h3 class="text-uppercase">категории</h3>
            <ul>
                <li><a href="">Лицо</a></li>
                <li><a href="">Тело</a></li>
                <li><a href="">Волосы</a></li>
                <li><a href="">Масла</a></li>
                <li><a href="">Для детей</a></li>
                <li><a href="">Питание</a></li>
                <li><a href="">Другое</a></li>
            </ul>
        </div>
        <div class="third-column d-flex flex-column">
            <h3 class="text-uppercase">Для клиентов</h3>
            <ul>
                <li><a href="">Акции</a></li>
                <li><a href="">Доставка и оплата</a></li>
                <li><a href="">Партнёрам</a></li>
                <li><a href="">О магазине </a></li>
                <li><a href="">Контакты </a></li>
                <li><a href="">Бренды </a></li>
            </ul>
        </div>
        <div class="fourth-column d-flex flex-column">
            <h3 class="text-uppercase">контакты</h3>
            <a href="tel:+77072220524"><img class="mr-2" src="images/footer-call.png" alt="">+7(707) 222 - 0524</a>
            <p class="mt-3">Ждем Вас в соц. сетях:</p>
            <div class="icons d-flex">
                <a href=""><img src="images/subscribe1.png" alt=""></a>
                <a href=""><img src="images/subscribe2.png" alt=""></a>
                <a href=""><img src="images/subscribe3.png" alt=""></a>
                <a href=""><img src="images/subscribe4.png" alt=""></a>
                <a href=""><img src="images/subscribe5.png" alt=""></a>
            </div>
        </div>
        <img class="bg-bottom" src="images/bottom-bg.png" alt="">
    </div>
</div>

<div class="mobile-version d-block d-md-none">
    <div class="route-path-mobile d-flex row w-100 mt-5 align-items-center px-3 py-4">
        <a href="">Главная<span>/</span></a>
        <a href="">Каталог<span>/</span></a>
        <a href="">Масла<span>/</span></a>
    </div>

    <div class="main-section-mobile d-flex flex-column mt-5 px-3">
        <h3 class="text-center">Крем-баттер для тела охлаждающий SOS <img src="images/main-section-new-badge.png" alt=""></h3>
        <div class="d-flex flex-column align-items-center w-100">
            <div class="left-side d-flex flex-column align-items-center">
                <img src="images/left-side-temp.png" alt="">
                <div class="share-with d-flex align-items-center mt-4">
                    <p class="mb-0">Поделиться:</p>
                    <img src="images/subscribe1.png" alt="">
                    <img src="images/subscribe2.png" alt="">
                    <img src="images/subscribe3.png" alt="">
                    <img src="images/subscribe4.png" alt="">
                    <img src="images/subscribe5.png" alt="">
                </div>
            </div>
            <div class="right-side d-flex flex-column justify-content-center">
                <div class="brand d-flex row justify-content-center my-4 align-items-center">
                    <p class="mb-0 mr-3">Бренд:</p>
                    <h6 class="mb-0">Delizioso</h6>
                    <img class="mx-4" src="images/right-side-logo.png" alt="">
                    <p class="mb-0 mr-3">Канада</p>
                    <img class="county-pic" src="images/right-side-country.png" alt="">
                </div>
                <div class="star-ratings-css mb-2">
                    <div class="star-ratings-css-top" style="width: 84%">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-css-bottom">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                </div>
                <div class="price d-flex w-100 px-3 align-items-center">
                    <p class="mb-0 mr-2">1 700 тнг</p>
                    <h6 class="mb-0"><span>1 900 тнг </span> / 500 мл.</h6>
                </div>
                <form class="d-flex w-100 align-items-center flex-column mb-5" action="">
                    <div class="quantity d-flex align-items-center my-3">
                        <input id="input-number2" type="number" value="1" step="1" min="1" max="99999" required>
                        <img class="ml-3 mr-2" src="images/right-side-quantity.png" alt="">
                        <p class="mb-0 font-italic">В наличии</p>
                    </div>
                    <div class="buy-this d-flex row justify-content-around px-3 align-items-center">
                        <button class="mb-3">В КОРЗИНУ</button>
                        <button class="one-click d-flex align-items-center ml-4"><img class="mr-2"
                                                                                      src="images/right-side-click.png"
                                                                                      alt=""> Заказ в 1 клик
                        </button>
                        <img class="mx-4" src="images/right-side-icon1.png" alt="">
                        <img src="images/right-side-icon2.png" alt="">
                    </div>
                </form>
                <div class="expand-divs d-flex row align-items-center justify-content-center mb-3">
                    <p id="" class="expand-source1 mb-0 active">Преимущества</p>
                    <p id="" class="expand-source2 mb-0 mx-5">Оплата</p>
                    <p id="" class="expand-source3 mb-0">Доставка</p>
                </div>
                <div class="expand-1 flex-column p-4">
                    <div class="d-flex flex-column w-100">
                        <div class="item d-flex">
                            <img src="images/expand1.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Оперативно</h5>
                                <p>Товар на складе,доставим за минимальный срок </p>
                            </div>
                        </div>
                        <div class="item d-flex">
                            <img src="images/expand2.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Богатый ассортимент</h5>
                                <p>Поступления каждую неделю,у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column w-100 h-50">
                        <div class="item d-flex">
                            <img src="images/expand3.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Приятный сюрприз</h5>
                                <p>Положим подарочек в каждый заказ</p>
                            </div>
                        </div>
                        <div class="item d-flex">
                            <img src="images/expand4.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Вкусная цена</h5>
                                <p>Поступления каждую неделю, у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="expand-2 flex-column p-4">
                    <div class="d-flex flex-column w-100">
                        <div class="item d-flex">
                            <img src="images/expand2.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Богатый ассортимент</h5>
                                <p>Поступления каждую неделю,у нас самая свежая продукция</p>
                            </div>
                        </div>
                        <div class="item d-flex">
                            <img src="images/expand1.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Оперативно</h5>
                                <p>Товар на складе,доставим за минимальный срок </p>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex w-100 flex-column">

                        <div class="item d-flex">
                            <img src="images/expand4.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Вкусная цена</h5>
                                <p>Поступления каждую неделю, у нас самая свежая продукция</p>
                            </div>
                        </div>
                        <div class="item d-flex">
                            <img src="images/expand3.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Приятный сюрприз</h5>
                                <p>Положим подарочек в каждый заказ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="expand-3 flex-column p-4">
                    <div class="d-flex w-100 flex-column">
                        <div class="item d-flex">
                            <img src="images/expand3.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Приятный сюрприз</h5>
                                <p>Положим подарочек в каждый заказ</p>
                            </div>
                        </div>
                        <div class="item d-flex">
                            <img src="images/expand4.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Вкусная цена</h5>
                                <p>Поступления каждую неделю, у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex w-100 flex-column">
                        <div class="item d-flex">
                            <img src="images/expand1.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Оперативно</h5>
                                <p>Товар на складе,доставим за минимальный срок </p>
                            </div>
                        </div>
                        <div class="item d-flex">
                            <img src="images/expand2.png" alt="">
                            <div class="d-flex flex-column">
                                <h5>Богатый ассортимент</h5>
                                <p>Поступления каждую неделю,у нас самая свежая продукция</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="about-item-side-info-mobile px-3 d-flex flex-column mt-5">
        <div class="about-item d-flex flex-column">
            <h3>Описание товара:</h3>
            <div class="comment more mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aspernatur aut blanditiis
                corporis, cum cumque cupiditate debitis doloremque eos error eveniet ex explicabo fugit ipsam laboriosam
                magnam minima necessitatibus officia quasi quia quibusdam quos repudiandae rerum vero voluptatibus. Deleniti
                dicta, dignissimos distinctio doloremque doloribus esse et ipsum laborum magni neque officiis ratione
                reiciendis sapiente similique unde. Expedita facere nemo omnis quasi sequi. Ab animi aut, commodi
                consectetur consequuntur debitis dicta dolorem eaque enim exercitationem facere facilis illo impedit
                incidunt ipsa laborum natus odit quam quis quisquam reiciendis rem repellat repudiandae, rerum sequi? A ab
                adipisci amet asperiores at beatae consequuntur doloremque eaque esse eum fugit, inventore ipsum iure modi
                non nulla odit officia omnis perspiciatis quaerat quas quod quos rem, saepe similique sunt tempora totam ut
                vel voluptatibus. A ab adipisci aliquid amet aut, dolorem, esse eum excepturi expedita in incidunt nam natus
                necessitatibus neque nesciunt nobis, placeat quidem repellendus reprehenderit suscipit ullam ut vero
                voluptatem. Accusamus adipisci alias amet architecto asperiores atque aut beatae consequuntur cupiditate
                dicta distinctio dolor eius est et illo labore libero maxime non, pariatur perspiciatis porro quae quasi
                quibusdam quod ratione, reiciendis rerum sapiente tempore, voluptate voluptatibus! Cumque eos possimus
                ratione. Dolor, ea.
            </div>
            <div class="expand-divs-2 d-flex">
                <p id="" class="expand-source4 mb-0 active">Состав</p>
                <p id="" class="expand-source5 mb-0 ml-5">Способ использования</p>
            </div>
            <div class="expand-4 px-4 py-5">
                Равным образом сложившаяся структура организации требуют определения и дальнейших направлений развития.
                Равным образом новая модель организационной деятельности в значительной степени обуславливает создание
                системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура
                организации требуют определения и дальнейших направлений развития. Равным образом новая модель
                организационной деятельности в значительной степени обуславливает создание системы обучения кадров,
                соответствует насущным потребностям.
            </div>
            <div class="expand-5 px-4 py-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore eaque est repellendus sed tempora
                tempore vel? Accusamus adipisci assumenda consequuntur cumque doloribus eaque eius esse id ipsam labore
                maiores modi obcaecati officiis porro quasi repellendus repudiandae, saepe sunt veniam voluptatibus! A,
                asperiores consequatur esse ex iste magnam maxime nostrum odio quia ullam veniam veritatis. Alias assumenda
                at atque commodi, consequuntur culpa cum cumque cupiditate dolorem doloremque doloribus exercitationem harum
                impedit ipsum itaque iusto laborum maxime odit praesentium quibusdam quisquam ratione sint tempore velit
                vero? Distinctio ea molestiae voluptates. Adipisci alias illum labore porro. Aliquam, aperiam assumenda
                beatae consequuntur corporis deleniti dolores eum, eveniet excepturi incidunt iste itaque magni maxime modi
                molestiae necessitatibus nemo odio, pariatur quidem quod recusandae repellendus reprehenderit similique!
                Accusantium amet, aspernatur cupiditate distinctio, dolores doloribus dolorum eius eligendi esse explicabo
                in, ipsum maiores officiis pariatur praesentium quaerat quas quia quibusdam quisquam rem reprehenderit sint
                sunt unde ut veritatis vitae voluptates? Distinctio eveniet ex illum necessitatibus, odio praesentium
                tempore ut? Aut consequuntur ducimus error facere molestias odit perspiciatis qui quis recusandae veniam!
                Aperiam doloribus fuga magni minima natus, quo sequi? Asperiores dolorum illum labore minus nostrum odit? Ad
                aspernatur aut, blanditiis cum delectus deleniti distinctio expedita facere hic itaque modi nostrum
                obcaecati quas quis quo sed soluta suscipit unde vel voluptate. Dicta fuga in libero magni modi, rem
                repellat sunt suscipit? Cumque dignissimos explicabo in laudantium perspiciatis quisquam quo voluptate!
                Dolore eligendi error exercitationem inventore itaque qui vero? Atque aut, commodi consequatur cumque
                deleniti earum eius ex explicabo, facilis fugiat illo, odio quaerat ratione reiciendis repellendus
                repudiandae saepe sit tenetur totam velit! Accusantium at autem doloribus est, harum nam nihil odio
                perferendis quaerat qui quo recusandae sapiente voluptatem? A accusamus aliquid blanditiis consequuntur
                debitis dignissimos earum et, facere, fugiat harum ipsam ipsum iure iusto labore magni molestias mollitia
                officia officiis possimus quae recusandae reiciendis repellendus sapiente sequi sit soluta tempora ullam
                veritatis voluptate voluptates! Aliquam cum ex libero placeat quae repellendus sint voluptate! Aut,
                consequuntur enim impedit iure laudantium nisi omnis quaerat quibusdam rerum. Inventore, odio, tenetur! Ab
                fuga nisi sed voluptatem voluptates. Atque blanditiis dignissimos dolorem dolorum eius, expedita illum
                incidunt iusto laboriosam, magnam minima molestiae mollitia, numquam quos sed soluta temporibus ut voluptas
                voluptate voluptatibus. Alias aliquam, assumenda, atque consequatur cum debitis deserunt dolore ducimus
                eaque enim eos excepturi harum id in iste iusto laudantium libero magni minima minus necessitatibus nemo
                nisi nostrum omnis perferendis porro praesentium provident quasi quis quos reiciendis sint temporibus
                tenetur totam ut vel voluptas? Ad cupiditate deleniti dolorum eos excepturi fugit ipsam nam nisi possimus,
                quaerat, quos reprehenderit totam vitae. Adipisci culpa debitis hic incidunt iusto laborum nihil vero.
                Aliquam aliquid amet architecto asperiores autem earum eius eveniet, illum iusto maiores, nemo officia quis
                quisquam sapiente unde vel voluptas voluptatem? A aliquid amet animi atque dolorum eius, ipsam molestias
                natus nemo nobis numquam optio, quae quo quos soluta temporibus vero. Accusamus cupiditate delectus hic in
                magnam obcaecati omnis. Adipisci commodi dicta enim impedit magnam molestiae perspiciatis quam sint soluta
                temporibus.
            </div>
            <div class="feedback-button d-flex align-items-center justify-content-center px-1 py-5 mt-5">
                <button><img src="images/double-quotes.png" alt="">Добавить отзыв</button>
            </div>
        </div>
        <div class="side-info d-flex flex-column">
            <h3 class="mb-3 text-center">Товары, схожие по результату действия:</h3>
            <div class="side-item d-flex align-items-center mb-3">
                <img src="images/side-1.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-item d-flex align-items-center mb-3">
                <img src="images/side-2.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-item d-flex align-items-center mb-3">
                <img src="images/side-3.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-item d-flex align-items-center mb-3">
                <img src="images/side-4.png" alt="">
                <p class="">Крем-баттер для тела ОХЛАЖДАЮЩИЙ SOS</p>
            </div>
            <div class="side-badge d-flex flex-column align-items-center">
                <h4 class="text-center">Хотите быть в курсе всех новостей?</h4>
                <p class="text-center">Подпишитесь на рассылку!</p>
                <form class="d-flex flex-column align-items-center" action="">
                    <div class="input-pic d-flex align-items-center">
                        <input placeholder="Введите Электронную почту" type="text" required>
                        <img src="images/mail-to.png" alt="">
                    </div>
                    <button>ПОДПИСАТЬСЯ</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer d-flex flex-column  align-items-center mt-5 pt-5">
        <div class="first-column align-items-center text-center d-flex flex-column">
            <img src="images/header-organic.png" alt="">
            <p>Натуральная продукция ручной работы
                по самым выгодным ценам в Казахстане</p>
        </div>
        <div class="second-column d-flex flex-column align-items-center text-center">
            <h3 class="text-uppercase">категории</h3>
            <ul>
                <li><a href="">Лицо</a></li>
                <li><a href="">Тело</a></li>
                <li><a href="">Волосы</a></li>
                <li><a href="">Масла</a></li>
                <li><a href="">Для детей</a></li>
                <li><a href="">Питание</a></li>
                <li><a href="">Другое</a></li>
            </ul>
        </div>
        <div class="third-column d-flex flex-column align-items-center text-center">
            <h3 class="text-uppercase">Для клиентов</h3>
            <ul>
                <li><a href="">Акции</a></li>
                <li><a href="">Доставка и оплата</a></li>
                <li><a href="">Партнёрам</a></li>
                <li><a href="">О магазине </a></li>
                <li><a href="">Контакты </a></li>
                <li><a href="">Бренды </a></li>
            </ul>
        </div>
        <div class="fourth-column d-flex flex-column align-items-center text-center">
            <h3 class="text-uppercase">контакты</h3>
            <a href="tel:+77072220524"><img class="mr-2" src="images/footer-call.png" alt="">+7(707) 222 - 0524</a>
            <p class="mt-3">Ждем Вас в соц. сетях:</p>
            <div class="icons d-flex">
                <a href=""><img src="images/subscribe1.png" alt=""></a>
                <a href=""><img src="images/subscribe2.png" alt=""></a>
                <a href=""><img src="images/subscribe3.png" alt=""></a>
                <a href=""><img src="images/subscribe4.png" alt=""></a>
                <a href=""><img src="images/subscribe5.png" alt=""></a>
            </div>
        </div>
        <img class="bg-bottom" src="images/bottom-bg.png" alt="">
    </div>
</div>

<script language="JavaScript" type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.0/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script language="JavaScript" type="text/javascript" src="number.js"></script>

<script>
    $(document).ready(function () {

        AOS.init({
            offset: 200,
            duration: 600,
            easing: 'ease-in-sine',
            delay: 100,
            disable: window.innerWidth < 768
        });

        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            items: 3,
            center: true
        });

        $('#input-number').number({
            'containerClass': 'number-style',
            'minus': 'number-minus',
            'plus': 'number-plus',
            'containerTag': 'div',
            'btnTag': 'span'
        });
        $('#input-number2').number({
            'containerClass': 'number-style',
            'minus': 'number-minus',
            'plus': 'number-plus',
            'containerTag': 'div',
            'btnTag': 'span'
        });


        $('.expand-1').css('display', 'block');
        $('.expand-2').css('display', 'none');
        $('.expand-3').css('display', 'none');
        $('.expand-4').css('display', 'block');
        $('.expand-5').css('display', 'none');
        $('.expand-source1').click(function () {
            $('.expand-source2').removeClass('active');
            $('.expand-source3').removeClass('active');
            $('.expand-source1').addClass('active');
            $('.expand-1').css('display', 'block');
            $('.expand-2').css('display', 'none');
            $('.expand-3').css('display', 'none');
        });
        $('.expand-source2').click(function () {
            $('.expand-source1').removeClass('active');
            $('.expand-source3').removeClass('active');
            $('.expand-source2').addClass('active');
            $('.expand-2').css('display', 'block');
            $('.expand-1').css('display', 'none');
            $('.expand-3').css('display', 'none');
        });
        $('.expand-source3').click(function () {
            $('.expand-source1').removeClass('active');
            $('.expand-source2').removeClass('active');
            $('.expand-source3').addClass('active');
            $('.expand-3').css('display', 'block');
            $('.expand-2').css('display', 'none');
            $('.expand-1').css('display', 'none');
        });

        $('.expand-source4').click(function () {
            $('.expand-source5').removeClass('active');
            $('.expand-source4').addClass('active');
            $('.expand-4').css('display', 'block');
            $('.expand-5').css('display', 'none');
        });
        $('.expand-source5').click(function () {
            $('.expand-source4').removeClass('active');
            $('.expand-source5').addClass('active');
            $('.expand-5').css('display', 'block');
            $('.expand-4').css('display', 'none');
        });


        var showChar = 350;
        var ellipsestext = "...";
        var moretext = "Узнать больше";
        var lesstext = "Скрыть";
        $('.more').each(function () {
            var content = $(this).html();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);
                var html = c + '<span class="moreelipses">' + ellipsestext + '</span>&nbsp;<span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink d-block text-right">' + moretext + '</a></span>';
                $(this).html(html);
            }
        });

        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
                $(this).parents('.comment').animate({'max-height': '30rem'}, 0);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
                $(this).parents('.comment').animate({'max-height': '100%'}, 0);
            }

            $(this).parent().prev().toggle();
            $(this).prev().fadeToggle(0);
            return false;
        });
    });

</script>
</body>
</html>
